@media (max-width: 800px) {
    .caixa-principal {
        height: 1000px;
        width: 1000px;

    }

    li .link-menu {
        display: table-column;

    }

    section {
        flex-direction: column;
        background-color: #ffff;
    }

    section div {
        flex-direction: column;
        background-color: #ffff;

    }

    section div h2 {
        font-size: 40px;
        padding: 20% 15%;

    }

    section div p {
        padding: 10%;
    }


.projetos {
    background-color: #ffffff;
    padding: 20px;

}

.projetos h2 {
    display: none;
}

.cards {
    flex-direction: column;
    padding: -5% 0%;


}

.card {
    border-radius: 100%;
    height: 220px;
    width: 300px;
}

.card p {
    font-size: 12px;


}
.card img {
    height: 80px;
}

}
